<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                           
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17482634?query=java%20Odessa">Senior Java Developer (Odessa)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17640832?query=java%20Odessa">Strong Regular Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17616601?query=java%20Odessa">Java Architect (UAE)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16843720?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17516628?query=java%20Odessa">Преподаватель (разработка ПО)</a></td> 
     <td class="city">Астана</td> 
     <td class="companyName">ТОО Компьютерная Академия Шаг</td> 
     <td class="salary">50&nbsp;000-300&nbsp;000 KZT</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17730511?query=java%20Odessa">Business Analyst</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17687063?query=java%20Odessa">Build Integration Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17671277?query=java%20Odessa">Automated Suitability Monitoring Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17641112?query=java%20Odessa">Configuration Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17593910?query=java%20Odessa">Senior JDA Red Prairie WMS / MOCA Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Софтезіс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/15362094?query=java%20Odessa">Senior Automation Tests Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17590634?query=java%20Odessa">Senior JavaScript Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17475461?query=java%20Odessa">Automation QA&nbsp;Engineer for Team Online</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17730473?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17730427?query=java%20Odessa">Java Team Lead</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17722199?query=java%20Odessa">Java / Web Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">UDCSoft LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17427123?query=java%20Odessa">Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Petrosoft Inc.</td> 
     <td class="salary">от 1&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17653066?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">PLS Logistics Services</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17664303?query=java%20Odessa">Java Middle/Senior Developer for CCM Project</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Comodo Group Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17652990?query=java%20Odessa">Front-End / UI Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">PLS Logistics Services</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17577260?query=java%20Odessa">Plugin developer (Perl/GWT)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Софтезіс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17539092?query=java%20Odessa">Portal (front-end) developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17590162?query=java%20Odessa">Python developer/ Data engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ConcilioLabs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17573846?query=java%20Odessa">Senior MS Dynamics AX Solution Architect</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Софтезіс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17539058?query=java%20Odessa">Senior oracle (pl/sql) developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17453180?query=java%20Odessa">Data Scientist / Machine Learning Engineer / Data analyst</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Envion Software (Ukraine)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026865">Разработчик-стажер (Java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026719">Java Tech Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Intermedia.NET11 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027056">java developer</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Сбербанк-Технологии24 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026875">Разработчик Java</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027245">Java-программист</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Новые технологии05 июля 2016</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024547">Java-developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView08 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026417">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">PRO IT06 июля 2016</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027279">Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Demius Group05 июля 2016</td> 
     <td class="salary">От 40 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027414">Java/Scala Developer</a></td> 
     <td class="city">Севастополь</td> 
     <td class="companyName">Naumen11 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027505">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альтарикс14 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027141">Java программист</a></td> 
     <td class="city"></td> 
     <td class="companyName">GameShells28 июня 2016</td> 
     <td class="salary">От 100 000 до 500 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027113">Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">DocsInBox28 июня 2016</td> 
     <td class="salary">От 40 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027030">Руководитель java-разработки</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Atsearch - Crowd Recruitment23 июня 2016</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027523">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Murano Software14 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024315">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ИСТ24 июня 2016</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025030">Back-end разработчик (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary">От 70 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027382">Программист Java, Javascript, Oracle</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "Арго-Технолоджи"08 июля 2016</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027409">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KamaGames Studio11 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026002">Java-разработчик web - приложений</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий11 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027282">Java-программист</a></td> 
     <td class="city">Киров</td> 
     <td class="companyName">CLARUS05 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027360">Java EE Trainer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Hemmersbach RUS07 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027144">Java разработчик (social network analysis)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AppDaddy28 июня 2016</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026967">Java - разработчик в отдел развития налогового учета</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк-Технологии21 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023213">Java EE-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS30 июня 2016</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026872">Главный архитектор АС (Java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026865">Разработчик-стажер (Java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026719">Java Tech Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Intermedia.NET11 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027056">java developer</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Сбербанк-Технологии24 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026875">Разработчик Java</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027245">Java-программист</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Новые технологии05 июля 2016</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024547">Java-developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView08 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026417">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">PRO IT06 июля 2016</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027279">Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Demius Group05 июля 2016</td> 
     <td class="salary">От 40 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027414">Java/Scala Developer</a></td> 
     <td class="city">Севастополь</td> 
     <td class="companyName">Naumen11 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027505">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альтарикс14 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027141">Java программист</a></td> 
     <td class="city"></td> 
     <td class="companyName">GameShells28 июня 2016</td> 
     <td class="salary">От 100 000 до 500 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027113">Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">DocsInBox28 июня 2016</td> 
     <td class="salary">От 40 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027030">Руководитель java-разработки</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Atsearch - Crowd Recruitment23 июня 2016</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027523">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Murano Software14 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024315">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ИСТ24 июня 2016</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025030">Back-end разработчик (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary">От 70 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027382">Программист Java, Javascript, Oracle</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "Арго-Технолоджи"08 июля 2016</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027409">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KamaGames Studio11 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026002">Java-разработчик web - приложений</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий11 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027282">Java-программист</a></td> 
     <td class="city">Киров</td> 
     <td class="companyName">CLARUS05 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027360">Java EE Trainer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Hemmersbach RUS07 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027144">Java разработчик (social network analysis)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AppDaddy28 июня 2016</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026967">Java - разработчик в отдел развития налогового учета</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк-Технологии21 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023213">Java EE-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS30 июня 2016</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026872">Главный архитектор АС (Java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024272">Senior Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Data East06 июля 2016</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025930">Ведущий Java программист / тимлид</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Kelly Services07 июля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027013">Java Web developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB-SPLAT23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024649">Ведущий разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TNS05 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc28 июня 2016</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023829">Разработчик микросервисов BostonGene Cloud Platform на Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene01 июля 2016</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021522">Java/Scala developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DIRECTUAL04 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027411">Junior Back-End developer (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">JungleJobs11 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027194">Senior Scala/Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">loginof30 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027002">Java Scala Developer</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Юницентр22 июня 2016</td> 
     <td class="salary">От 1 800 до 2 500 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022825">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Loyalty Plant17 июля 2016</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019904">Java разработчик со знанием front-end технологий</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies08 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027075">Web Developer (Front-end + Java)</a></td> 
     <td class="city">Гамбург</td> 
     <td class="companyName">Relocateme.eu24 июня 2016</td> 
     <td class="salary">От 45 000 до 50 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026357">Full-stack developer (Java, Javascript)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">[ смсфинанс }06 июля 2016</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025734">Ведущий разработчик Java [reward for referrals 50k RUB]</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">NPBFX27 июня 2016</td> 
     <td class="salary">От 120 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026870">Инженер по нагрузочному тестированию</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027083">Преподаватель вебинаров по php, html, css, js, java, python, ruby, android/ios</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains25 июня 2016</td> 
     <td class="salary">От 15 000 до 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026866">Руководитель разработки (java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026876">Системный аналитик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027065">Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">YouLikeMe24 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/69982009">Главный/ведущий инженер(JAVA-разработчик)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026970">Ведущий инженер (разработчик) в отдел развития продуктов розничных систем</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк-Технологии21 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027393">Android-разработчик</a></td> 
     <td class="city">Волгоград</td> 
     <td class="companyName">UnitBean09 июля 2016</td> 
     <td class="salary">От 300 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026424">Руководитель команды / Teamlead</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")29 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026581">Senior Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dialog07 июля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027406">Разработчик аналитических модулей, аналитик данных</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MiSeC11 июля 2016</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027365">Разработчик Salesforce</a></td> 
     <td class="city"></td> 
     <td class="companyName">CT Consulting07 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024551">Go-developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView08 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027373">Главный специалист по автоматизированному тестированию</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Банк Санкт-Петербург08 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026462">Аналитик-статистик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies27 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027026">Java Developer front and back-end</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Connectflexi23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027129">Full-Stack разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">физ лицо11 июля 2016</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025933">Разработчик мобильных приложений для Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк"19 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027191">Adobe CQ/EM Developer Team Leader</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Convergent Media Group30 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026373">Android разработчик</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">АНКОР Высокие Технологии27 июня 2016</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026975">Ведущий инженер-разработчик в лабораторию сервисов управления бизнес-процессами</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027022">Инженер по нагрузочному тестированию (Стажер)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк-Технологии24 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027276">Сильный программист в среде Android</a></td> 
     <td class="city"></td> 
     <td class="companyName">MIBE04 июля 2016</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026941">Инженер-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Системная динамика"20 июня 2016</td> 
     <td class="salary">От 115 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027045">фул-стэк PHP-разработчик владеющий Wordpress</a></td> 
     <td class="city">Владивосток</td> 
     <td class="companyName">Gromky23 июня 2016</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027042">Архитектор в инновационный проект</a></td> 
     <td class="city"></td> 
     <td class="companyName">Кадровое агентство «ВИЗАВИ Консалт»23 июня 2016</td> 
     <td class="salary">От 130 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027055">Integration Development Team Lead</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">Сбербанк-Технологии24 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026371">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">8bit group18 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027413">Тестировщик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Электронный город11 июля 2016</td> 
     <td class="salary">От 40 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027433">​​​Senior Backend Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">TraceAir12 июля 2016</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026974">Руководитель разработки в лабораторию сервисов управления бизнес-процессами</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк-Технологии21 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027428">Scala developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Exadel11 июля 2016</td> 
     <td class="salary">От 150 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024536">Тестировщик (QA-автоматизатор)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Sendsay.ru24 июня 2016</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027067">Разработчик BPM (Pega Systems)</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">Сбербанк-Технологии24 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027374">Менеджер проекта интеграция конверсионных операций</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Банк Санкт-Петербург08 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026077">Разработчик мобильных приложений</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Orange Rockets28 июня 2016</td> 
     <td class="salary">От 35 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027404">Разработчик веб сервиса</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MiSeC11 июля 2016</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026331">Senior Javascript Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Aparlay08 июля 2016</td> 
     <td class="salary">От 3 000 до 3 300 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027222">Android разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Юницентр01 июля 2016</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025714">Team Lead/CTO</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Cubic Robotics24 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027145">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского28 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027235">Инженер по тестированию ПО</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">iCanDeliver01 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027537">Начинающий разработчик/системный администратор</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Webim.Ru15 июля 2016</td> 
     <td class="salary">От 20 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027097">Программист Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EAPTEKA.RU27 июня 2016</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027549">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wawe18 июля 2016</td> 
     <td class="salary">От 120 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027040">Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">СЗ РЦАИ23 июня 2016</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027536">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ответ15 июля 2016</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013276">Senior Front-end разработчик (JavaScript)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк"19 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026409">Backend developer с опытом iOS и Android разработки</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Andromeda Ventures06 июля 2016</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027164">Разработчик мобильных приложений iOS и Android</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Я -ПРОЕКТ мобильные приложения29 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026762">Node.js разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ISPACE19 июля 2016</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000001364">Android-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Cuberto design30 июня 2016</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027096">Программист фотограмметрической системы</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KR27 июня 2016</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027502">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">tvzavr14 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013542">Senior Android Developer (Maps.Me)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group21 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022957">Android-разработчик в Coursmos</a></td> 
     <td class="city"></td> 
     <td class="companyName">Coursmos Inc05 июля 2016</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027363">Системный архитектор/back-end разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">AddReality LLC11 июля 2016</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027103">Ведущий Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">100AM27 июня 2016</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026524">Hadoop developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ISsoft08 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027394">IOS-разработчик</a></td> 
     <td class="city">Волгоград</td> 
     <td class="companyName">UnitBean09 июля 2016</td> 
     <td class="salary">От 300 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027424">Mobile + Front-end developer (React Native)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Эрливидео11 июля 2016</td> 
     <td class="salary">От 80 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027236">Инженер по автоматизации тестирования</a></td> 
     <td class="city"></td> 
     <td class="companyName">iCanDeliver01 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027454">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ivi.ru12 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027488">Разработчик приложений для Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АйТи13 июля 2016</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027085">Тестировщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TVEVT25 июня 2016</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027139">Senior/Middle Android developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">WhyNot?!28 июня 2016</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027021">Главный инженер по автоматизации тестирования</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк-Технологии24 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020337">Perl-программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">220 Вольт20 июня 2016</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027275">Senior Unity3D Game Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sintez06 июля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024854">Специалист отдела тестирования</a></td> 
     <td class="city"></td> 
     <td class="companyName">DocDoc15 июля 2016</td> 
     <td class="salary">От 30 000 до 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027125">Тестировщик Q&amp;A</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Sendway28 июня 2016</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026877">Инженер по нагрузочному тестированию</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027303">Мобильный разработчик под IOS и Android</a></td> 
     <td class="city"></td> 
     <td class="companyName">Первая Купонная Компания05 июля 2016</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026874">Тестировщик ПО</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Сбербанк-Технологии23 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026461">Аналитик по прогнозированию</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies27 июня 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027486">Разработчик приложений для iOS</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АйТи13 июля 2016</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026095">Разработчик Python/Asyncio</a></td> 
     <td class="city"></td> 
     <td class="companyName">Девхаб24 июня 2016</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027327">Javascript разработчик в старт-ап</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Homeapp06 июля 2016</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>